---
import BlogContent from "@/components/blog/BlogContent";
import BlogHeader from "@/components/blog/BlogHeader.astro";
import SwiperCarouselWrapper from "@/components/blog/SwiperCarouselWrapper.astro";
import Layout from "@/layouts/layout.astro";
import fetchApi from "@/lib/strapi";
import type { Blog as RawBlog } from "src/types/Blog";

const { STRAPI_URL } = import.meta.env;

type Blog = RawBlog & {
  attributes: {
    createdAt: string;
  };
};

const slug = Astro.params.blog;
if (!slug) return Astro.redirect("/404");

// Get blog data from slug
const blogData = await fetchApi<Blog | undefined>({
  endpoint: `blogs`,
  query: {
    "filters[slug][$eq]": slug,
    populate: "deep",
  },
  wrappedByKey: "data",
  wrappedByList: true,
});
if (!blogData) return Astro.redirect("/404");

const imageUrl =
  STRAPI_URL + blogData.attributes.bannerImage.data.attributes.url;
const title = blogData.attributes.title;
const authorName = blogData.attributes.author;
const datePublished = new Date(blogData.attributes.createdAt).toLocaleString();
const content = blogData.attributes.content;

// Temporary can be deleted

// // Temporary data for the carousel
// const articles = [
//   {
//     title: "Sample Article 1",
//     description: "This is a description for Sample Article 1",
//     href: "/sample-article-1",
//     src: "https://via.placeholder.com/150",
//     date: new Date(),
//     authors: [{ name: "Author 1", profileIcon: "/path/to/author1.jpg" }],
//   },
//   {
//     title: "Sample Article 2",
//     description: "This is a description for Sample Article 2",
//     href: "/sample-article-2",
//     src: "https://via.placeholder.com/150",
//     date: new Date(),
//     authors: [{ name: "Author 2", profileIcon: "/path/to/author2.jpg" }],
//   },
//   {
//     title: "Sample Article 3",
//     description: "This is a description for Sample Article 3",
//     href: "/sample-article-3",
//     src: "https://via.placeholder.com/150",
//     date: new Date(),
//     authors: [{ name: "Author 3", profileIcon: "/path/to/author3.jpg" }],
//   },
// ];
// console.log("Articles passed to SwiperCarouselWrapper:", articles); // Log the articles to debug
---

<Layout>
  <div class="m-auto max-w-screen-md">
    <BlogHeader imageUrl={imageUrl} title={title} authorName={authorName} datePublished={datePublished} />
    <BlogContent content={content} />
    <h3>More Blogs</h3>
    <!-- <SwiperCarouselWrapper articles={articles} /> -->
  </div>
</Layout>
