---
import BlogContent from "@/components/blog/BlogContent";
import BlogHeader from "@/components/blog/BlogHeader.astro";
import SwiperCarouselWrapper from "@/components/blog/SwiperCarouselWrapper.astro";
import Layout from "@/layouts/layout.astro";
import fetchApi from "@/lib/strapi";
import type { ApiBlogBlog } from "types/contentTypes";

const { STRAPI_URL } = import.meta.env;

const slug = Astro.params.blog;
if (!slug) return Astro.redirect("/404");

// Get blog data from slug
const blogData = await fetchApi<ApiBlogBlog | undefined>({
  endpoint: `blogs`,
  query: {
    "filters[slug][$eq]": slug,
    populate: "*",
  },
  wrappedByKey: "data",
  wrappedByList: true,
});
if (!blogData) return Astro.redirect("/404");

const imageUrl =
  STRAPI_URL + blogData.attributes.bannerImage.data.attributes.url;
const title = blogData.attributes.title;
const authorName = blogData.attributes.author;
const datePublished = blogData.attributes.createdAt;
const content = blogData.attributes.content;

// Temporary data for the carousel
const articles = [
  {
    title: "Article 1",
    description: "Description for Article 1",
    href: "/article-1",
    src: "/path/to/image1.jpg",
    date: new Date(),
    authors: [{ name: "Author 1", profileIcon: "/path/to/author1.jpg" }],
  },
  {
    title: "Article 2",
    description: "Description for Article 2",
    href: "/article-2",
    src: "/path/to/image2.jpg",
    date: new Date(),
    authors: [{ name: "Author 2", profileIcon: "/path/to/author2.jpg" }],
  },
  // Add more articles as needed
];
---

<Layout>
  <p>{slug}</p>
  <h2>More Blogs</h2>
  <BlogHeader {imageUrl} {title} {authorName} {datePublished} />
  <BlogContent {content} />
  <h1>More Blogs</h1>
  <SwiperCarouselWrapper articles={articles} />
</Layout>
