---
import BaseHead from "@/components/BaseHead.astro";
import Header from "@/components/navigation/Header";
import fetchApi from "@/lib/strapi";
import { getImage } from "astro:assets";
import TopographicImageSrc from "../../public/Topographic 3.svg";
import Footer from "../components/Footer.astro";

interface Props {
  title: string;
  description: string;
}

const { title, description }: Props = Astro.props;
const STRAPI_URL = import.meta.env.STRAPI_URL;

const global = await fetchApi<any>({
  endpoint: "global?populate[Navbar][populate]=*",
  wrappedByKey: "data",
});

const logoUrl = STRAPI_URL + global.attributes.Navbar.logo.data.attributes.formats.large.url;
const logoAlt = global.attributes.Navbar.logo.data.attributes.alternativeText;
const navItems = global.attributes.Navbar.NavItems;

const TopographicImage = await getImage({ src: TopographicImageSrc });
---

<!doctype html>
<html lang="en" class="h-screen">
  <head>
    <BaseHead title={title} description={description} />
  </head>
  <body class="max-h-screen relative bg-slate-100 max-w-[1125px] mx-auto">
    <Header
      logoUrl={logoUrl}
      logoAlt={logoAlt}
      navItemsCenter={navItems.slice(0, -2)}
      navItemsRight={navItems.slice(-2)}
      client:only
    />
    <main class="min-h-full static">
      <slot />
      <!-- <Image alt="Topographic Wallpaper" width={100} height={200} quality="max" class="w-full absolute top-0 -z-10 opacity-70" src={TopographicImage.src}/> -->
    </main>
    <Footer />
  </body>
</html>
