---
interface Props {
  imageUrl: string;
  title: string;
  datePublished: string;
  authorName: string;
}

const { imageUrl, title, datePublished, authorName } = Astro.props;
---

<img src={imageUrl} alt={title} class="blog-header__image" />
<div class="blog-header__text">
  <h2 class="blog-header__title">{title}</h>
  <div class="blog-header__meta">
    <span class="blog-header__author">{authorName}</span> | <span
      class="blog-header__date">{datePublished}</span
    >
  </div>
</div>

<style>
  /* See [blog].astro for an example! (That's where I moved the blog-header component) */
  /* .blog-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    text-align: left;
  } */

  .blog-header__image {
    width: 100%;
    height: auto;
    border-radius: 10px;
    align-items: center;
  }

  .blog-header__text {
    max-width: 800px;
    text-align: left;
  }

  .blog-header__title {
    margin: 1rem 0;
    text-align: left;
  }

  .blog-header__meta {
    font-size: 1rem;
    color: #6c757d;
  }

  .blog-header__author,
  .blog-header__date {
    font-weight: bold;
    color: #087df1;
  }
</style>
